extends ../shared/template

block content

  .content-wrapper
    .class-confirmation-wrapper
      img(src="#{user.badges[user.badges.length -1].filePath}")
      h1 Congratulations!
      h3 You are now a #{user.class}!
      .border
      a(href='/dashboard')
        button Back to Dashboard
