extends ../shared/template

block content

  .content-wrapper
    .quest-confirmation-wrapper
      img(src="#{user.badges[user.badges.length -1].filePath}")
      h1 Congratulations!
      h3 You completed the quest:
      h3.quest-confirmation-name #{quest.name}
      h3.quest-bonus-points You earned #{quest.checkIns.length * 3} bonus points!
      .border
      a(href='/dashboard')
        button Back to Dashboard
      a(href='/users/#{user.userName}')
        button Begin Another Quest
