extends ../shared/template

block content

  .content-wrapper
    h1 Congratulations!

    h3 You completed the quest and have earned ___ points!

    p You are currently a _______
    p You are now a Scout!!!

    a(href='/users/#{user.userName}') Begin a new quest
