extends ../shared/template

block content

  .content-wrapper
    mixin back('Find Quest')

    .find-quest-wrapper
      input.quest-search(type='text', name='quest-search', placeholder='Filter by Keyword')
      .border#input-border
      ul.available-quests-list
        if(quests)
          each quest in quests
            .quest-listing-wrapper
              li
                .quest-image-wrapper(style="background-image: url(#{quest.photo.filePath})")
                .quest-information-wrapper
                  h2.quest-name= quest.name
                  a.quest-link(href='/quests/show/#{quest._id}')
                    button view
                  p.quest-description= quest.description
              .border

block scripts
  script(src='/js/es6/compiled/find-quest.js')
