extends ../shared/template

block content

  .messages

  .profile-content-wrapper
    h1.quest-name(data-id='#{quest._id}')= quest.name
    p= quest.description

  #quest-map-canvas

block scripts
  script(src='/js/es6/compiled/show-quest.js')
