@import "../less/reset.less";

@base-complement: #ecb534;
@base-color: #5a4626;
@dark-base: #47391f;
@offwhite: #e3dfd6;

.transition(@duration: 300ms) {
  -webkit-transition: all @duration ease;
  -moz-transition: all @duration ease;
  -o-transition: all @duration ease;
  transition: all @duration ease;
}

html, body, #map {
  height: 100%;
  width: 100%;
}

.clear {
  width:100%;
  clear:both;
}

body {
  background-color: #eee;
  color: #333;
  position:relative;
  font-family: "adobe-garamond-pro", serif;
}

#map-canvas {
  height: 1000px;
  max-height: 100%;
  position:relative;
  margin: 0px 0 0 0;
  padding: 0;
  width: 100%;
}

/* ==================== NAVIGATION CSS ====================== */

/* General styles for all menus */
.cbp-spmenu {
  background: @dark-base;
  position: fixed;
}

/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
  width: 280px;
  height: 100%;
  top: 0;
  z-index: 1000;
}

.cbp-spmenu-vertical a {
  border-bottom: 1px solid #fff;
  padding: 1em;
}


/* Vertical menu that slides from the left or right */

.cbp-spmenu-left {
  left: -280px;
}

.cbp-spmenu-left.cbp-spmenu-open {
  left: 0px;
}

/* Push classes applied to the body */

.cbp-spmenu-push {
  overflow-x: hidden;
  position: relative;
  left: 0;
}

.cbp-spmenu-push-toright {
  left: 280px;
}

/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* Example media queries */

@media screen and (max-width: 55.1875em){
  .cbp-spmenu-horizontal {
    font-size: 75%;
    height: 110px;
  }

}

@media screen and (max-height: 26.375em){
  .cbp-spmenu-vertical {
    font-size: 90%;
    width: 190px;
  }

  .cbp-spmenu-left,
  .cbp-spmenu-push-toleft {
    left: -190px;
  }

}

/* ==================== HEADER CSS ====================== */

header {
  height: 60px;
  width: 100%;
  background-image: url('/img/assets/brown-paper-bkg.jpg');
  background-size: 100px 100px;
  box-shadow: 0px 0px 10px 1px #352e1f;
  position:relative;
  z-index: 100;
  color: @offwhite;
  text-align:center;

  h1.logo {
    position:absolute;
    z-index: 5;
    height: 60px;
    width: 50px;
    margin: 0 auto;
    left:0;
    right:0;
    text-indent: -9999px;
    background-image: url('/img/assets/logo-icon.png');
    background-repeat: no-repeat;
    background-position:center;
    background-size: 45px auto;
    text-align:center;
  }

  a.menu-link {
    margin: 17px 20px;
    float:left;
    font-size: 1.75em;
    color: @offwhite;
  }

  i {
    text-shadow: 0px 0px 5px #352e1f;
  }

  .search-container {
    float:right;
    margin: 15px;

    a.show-searchbar {
      display:inline-block;
      position:absolute;
      right: 20px;
      top: 17px;
      z-index: 20;
      font-size: 1.5em;
      .transition;
    }

    a.show-searchbar.small-magnifying-glass {
        font-size: 1.25em;
        padding-top:2px;
    }

    form#main-search {
      position:absolute;
      right: 0px;
      z-index: 10;
      float:right;
      width: 80%;
      max-width: 500px;
      text-align:right;

      input[type='text']{
        width: 0%;
        opacity: 0;
        padding: 13px;
        margin: -4px 10px 0 0;
        border:none;
        border-radius: 2px;
        background-color: #44331c;
        color:#fff;
        .transition;
      }

      input[type='text'].show-searchbar-input {
        opacity: 1;
        width:80%;
      }
    }
  }
}

/* ==================== MAP INDEX CSS ==================== */

#map-filter {
  position:absolute;
  padding: 5px;
  border-radius: 3px;
  background-color:@base-complement;
  top: 90px;
  right: 10px;
  z-index:5;
}

.map-bottom-container {
  position:absolute;
  display:block;
  width: 100%;
  background-color: #fc0;
  height: 85px;
  bottom: 0;
  background-image: url(/img/assets/white-paper-bkg.jpg);
  background-size: 100px auto;
  box-shadow: 0px 0px 10px @dark-base;
  max-width: 350px;

  a.checkin-button {
    display:inline-block;
    width: 25%;
    max-width: 75px;
    height: 75px;
    padding: 5px;
    background-color: @base-color;
    background-image: url(/img/assets/main-checkin-button.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px auto;
    float:left;
  }

  .profile-wrapper {
    display:inline-block;
    width: 230px;
    padding-top: 0px;

    .profile-pic-wrapper, .class-name-wrapper, .class-icon-wrapper {
      display:inline-block; 
    }

    .profile-pic-wrapper {
      width: 50px;
      padding: 15px;
      float:left;

      img {
        display:inline-block;
        width: 100%;
        height: auto;
        border-radius: 50%;
        border: 2px solid #fff;
        box-shadow: 0px 0px 5px @base-color;
      }
    }

    .class-name-wrapper {
      width: 85px;
      float:left;
      padding-top: 25px;

      p.class-name {
        font-weight: bold;
        color: @base-color;
        font-size: 1.25em;
      }
    }

    .class-icon-wrapper {
      width: 50px;
      float:right;
      padding: 15px 5px;

      img {
        width: 100%;
        height: auto;
        border-radius: 50%;
        border: 2px solid #fff;
        box-shadow: 0px 0px 5px @base-color;
      }
    }
  }
}

















/* ==================== OLD CSS ==================== */


#create-quest-map {
  height: 60%;
  width: 100%;
}

.popup {
  width:300px;
  padding-bottom: 10px;

  .popupTitle {
    margin-bottom: 25px;
  }

  a {
    color: @base-complement;
    border-radius: 3px;
    border: 2px solid @base-complement;
    padding: 15px 30px;
    margin-top: 10px;
    text-decoration:none;
    display:block;
    width: 75%;
    text-align:center;
    margin: 0 auto;
    -webkit-transition: all 0.3s; /* For Safari 3.1 to 6.0 */
    transition: all 0.3s;
  }

  a:hover {
    color: #fff;
    background-color: @base-complement;
    border: 2px solid @base-complement;
    -webkit-transition: all 0.3s; /* For Safari 3.1 to 6.0 */
    transition: all 0.3s;
  }

}

#container {
  width:80%;
  margin:0 auto;
  padding-top: 25px;
}

#index-container {
  width:50%;
  margin:0 auto;
  padding-top: 100px;
}

#register {
  float:left;
}

#login {
  float:right;
}

input:focus {
  outline:none;
  border-bottom: 3px solid @base-complement;
  -webkit-transition: all 0.3s; /* For Safari 3.1 to 6.0 */
  transition: all 0.3s;
}

button {
  border: none;
  padding: 10px 20px;
  background-color: @base-complement;
  color:#fff;
  border-radius: 3px;

}


#street-view {
  height: 400px;
  width: 400px;
}

/* ==================== NATHAN EDITS ==================== */

#quest-locations-listing {
  background: white;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 60%;
}

#quest-locations-listing li {
  margin: 3px;
  padding: 0.4em;
  border-bottom: 1px solid black;
}

.location-in-quest {
  background: @base-complement;
  color: white;
}

#group-code {
  margin-right: 15px;
}
