@base: #1C75BC;
html, body, #map-canvas {
  height: 100%;
}

#map-filter {
  position:absolute;
  padding: 15px;
  border-radius: 3px;
  background-color:@base;
  top: 100px;
  left: 50px;
  z-index:5;
}
