extends ../shared/template

block content
  br
  br
  br
  br
  br
  br
  h2 Public Quests
  br
  if(results.questNames.length > 0)
    each quest in results.questNames
      h2= quest.name
  br
  h2 Groups
  br
  h2 Locations
  br
  if(results.locations.length > 0)
    each location in results.locations
      br
      a(href='/locations/#{location.name}')= location.name
      br
  br
  h2 Users
  br
  if(results.userNames.length > 0)
    each user in results.userNames
      h2= user.userName
