extends ../shared/template

block content
  .content-wrapper
    mixin back('All Check Ins')

    .all-checkins-wrapper
      ul.checkins-listing
        if(checkIns)
          each checkIn in checkIns
            li
              h3= checkIn.location.name
              a(href='/locations/show/#{checkIn.location._id}')
                button(data-id='#{checkIn.location._id}') show more
              p= checkIn.timeStamp
          else
            br
            h3 You haven't checked in anywhere yet. Get out there and nashplore!
