extends ../shared/template
include ../shared/back.jade

block content
	.checkin-wrapper 
		mixin back('Check In')

		form(action='/users/checkin/#{locationId}/?lat=#{lat}&lng=#{lng}', method='POST')
			textarea(rows='5', columns='50', name='comment')
			button Check In