extends ../shared/template

block content
  .content-wrapper
    mixin back('All Check Ins')

    .all-checkins-wrapper
      if(checkIns)
        each checkIn in checkIns
          h3= checkIn.timeStamp
          h3= checkIn.location.name
        else
          h3 You haven't checked in anywhere yet. Get out there and nashplore!
