extends ../shared/template

block content
  include ../locations/index.jade

  #map-filter
    select
      option Filter
      option -------
      option All
      option Civil War Sites
      option Andrew Jackson

block scripts
