
block content 

  if (questConfirm)
    #quest-confirmation
      include ../quests/quest-confirmation.jade

  include ../locations/index.jade

  .map-bottom-container
    a.checkin-button
    .profile-wrapper
      .profile-pic-wrapper
        img(src="#{user.photo.filePath}")
      .class-name-wrapper
        p Class:
        p.class-name= user.class
      .class-icon-wrapper
        img(src="/img/assets/placeholder-class-icon.png")

  //- form(method='POST', action='/logout')
  //-   button Logout

  #map-filter
    select
      option Filter
      option -------
      option All
      option Civil War Sites
      option Andrew Jackson

block scripts
  script(src='/js/es6/compiled/dashboard.js')
