
block content

  if (successCheckIn.length > 0)
    .home-messages
      p.home-message= successCheckIn

  include ../locations/index.jade

  .map-bottom-container
    form.checkin-form(action='/checkIn/view-nearby', method='GET')
      input.hidden(type='text', name='nearbyCheckIns', hidden)
    a(href='#').checkin-button
    .profile-home-wrapper
      .profile-pic-wrapper
        img(src='#{user.photo.filePath}')
      .class-name-wrapper
        p.label Class:
        p.class-name= user.class
      .class-icon-wrapper
        img(src='#{user.badges[user.badges.length -1].filePath}')

  #map-filter
    select
      option Filter
      option -------
      option All
      option Civil War Sites
      option Andrew Jackson
