
block content
  if (questConfirm)
    #quest-confirmation
      include ../quests/quest-confirmation.jade

  include ../locations/index.jade

  form(method='POST', action='/logout')
    button Logout

  #map-filter
    select
      option Filter
      option -------
      option All
      option Civil War Sites
      option Andrew Jackson

block scripts
  script(src='/js/es6/compiled/dashboard.js')
