
block content
  .messages
    if (successCheckIn)
      p= successCheckIn

  include ../locations/index.jade

  .map-bottom-container
    form.checkin-form(action='/checkIn/view-nearby', method='GET')
      input(type='text', name='nearbyCheckIns', hidden)
    a(href='#').checkin-button
    .profile-wrapper
      .profile-pic-wrapper
        img(src="#{user.photo.filePath}")
      .class-name-wrapper
        p Class:
        p.class-name= user.class
      .class-icon-wrapper
        img(src="/img/assets/placeholder-class-icon.png")

  #map-filter
    select
      option Filter
      option -------
      option All
      option Civil War Sites
      option Andrew Jackson
