extends ../shared/template

block content

  .content-wrapper
    .confirmation-wrapper
      h2 Login/Register to join group.
      .border

      #login
        p.label Log IN
        form(method='POST', action='/login')
          input.form-control.username(type='text', name='userName', placeholder='Username', required)
          .clear
          input.form-control.password(type='password', name='password', placeholder='Password', required)
          .clear
          input.form-control.group-number(type='text', name='groupCode', placeholder='Group Code', hidden=true, value='#{code}')
          .clear
          button Login
  
      #register
        p.label Register
        form(method='POST', action='/register', enctype='multipart/form-data')
          input.form-control.username(type='text', name='userName', placeholder='Username', required)
          .clear
          input.form-control.nickname(type='text', name='nickName', placeholder='Nick Name', required)
          .clear
          input.form-control.group-number(type='text', name='groupCode', placeholder='Group Code', hidden=true, value='#{code}')
          .clear
          input.form-control.email(type='email', name='email', placeholder='Email', required)
          .clear
          input.form-control.password(type='password', name='password', placeholder='Password', required)
          .clear
          button Create Account
          .clear