extends ../shared/template

block content

  .content-wrapper
    .messages
      if (forgotPasswordConfirm)
        p= forgotPasswordConfirm

    h1 Forgot Password

    p Please enter the email associated with your account.
    | We will send you an email to change your password.
    form#send-password-reset(action='/send-password-reset', method='POST')
      input(type='email', name='email', placeholder='email', required)
      input(type='text', name='userName', hidden)
      input(type='text', name='userId', hidden)
    button#submit-password-reset Send Email

block scripts
  script(src='/js/es6/compiled/reset-password.js')
