extends ../shared/template

block content

  .content-wrapper
    if (forgotPasswordConfirm.length > 0)
      .messages
        p= forgotPasswordConfirm

    .forgot-wrapper
      h1 Forgot your password?

      p Please enter the email associated with your account.
      p We will send you an email to change your password.
      form#send-password-reset(action='/send-password-reset', method='POST')
        input(type='email', name='email', placeholder='email', required)
        input(type='text', name='userName', hidden)
        input(type='text', name='userId', hidden)
      button#submit-password-reset Send Email

      a(href='/') Cancel

block scripts
  script(src='/js/es6/compiled/reset-password.js')
