extends ../shared/template

block content

  #index-container
    .messages
      if (registerAndLogin)
        p= registerAndLogin
    #register
      form(method='POST', action='/register', enctype='multipart/form-data')
        input.form-control.username(type='text', name='userName', placeholder='Username', required)
        .clear
        input.form-control.nickname(type='text', name='nickName', placeholder='Nick Name', required)
        .clear
        input.form-control.group-number(type='text', name='groupCode', placeholder='Group Code')
        .clear
        input.form-control.email(type='email', name='email', placeholder='Email', required)
        .clear
        input.form-control.password(type='password', name='password', placeholder='Password', pattern='{.6,}', title='6 characters minimum', required)
        .clear
        input(type='file', name='photo')
        .clear
        button Create Account
        .clear

    #login
      form(method='POST', action='/login')
        input.form-control.username(type='text', name='userName', placeholder='Username', required)
        .clear
        input.form-control.password(type='password', name='password', placeholder='Password', required)
        .clear
        button Login
      a(href='/forgot-password') Forgot Password
