extends ../shared/template

block content
  h3= location.name
  p= location.description
  #street-view

  #wiki
    div(id='coords', data-lat='#{location.loc[1]}', data-long='#{location.loc[0]}')

block scripts
  script(src='/js/es6/compiled/location-details.js')
